.fondo {
    position: absolute;
        z-index: -1;
    background-image: url('/04-WebApp-Prehistoria/assets/images/Mapa.png');
    top: 1vh;
    left: -32.95vw;
    width: 99vw;
    height: 77.5vh;
    z-index: -1;
    background-size: cover;
    background-position: center;
    filter: blur(5px);
}

.mapa-container {
    position:relative;
    font-family: 'Milford', sans-serif;
    font-weight: bold;

}

.saludo {
    position: relative;
    z-index: 1;
    background: rgba(255, 255, 255, 0.726);
    padding: 40px 30px;
    border-radius: 20px;
    max-width: 650px;
    box-shadow: 0 10px 28px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    bottom: -60px;
    opacity: 1;
    animation: aparecer 0.7s ease;
}

@keyframes aparecer {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.guia {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    width: 100%;
    margin-bottom: 20px;
}

.avatar-mini {
    width: 115px;
    height: 195px;
    border-radius: 25px;
    border: 2px solid #4CAF50;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.saludo h2 {
    font-size: 28px;
    color: #333;
    margin-bottom: 15px;
}

.saludo p {
    font-size: 18px;
    margin: 8px 0;
    color: #444;
}

.qr-button {
    background-color: #4CAF50;
    color: white;
    font-size: 18px;
    padding: 12px 24px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.qr-button:hover {
    background-color: #3e8e41;
    transform: scale(1.05);
}