.orientacion-alerta {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color:rgb(246, 255, 0);
  color: #000;
  text-align: center;
  padding: 10px;
  z-index: 1000;
  font-weight: bold;
}
