@font-face {
  font-family: 'Milford';
  src: url('/04-WebApp-Prehistoria/fonts/Milford.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Milford';
  src: url('/04-WebApp-Prehistoria/fonts/MilfordBold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Milford';
  src: url('/04-WebApp-Prehistoria/fonts/MilfordItalic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Milford';
  src: url('/04-WebApp-Prehistoria/fonts/MilfordBoldItalic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Milford';
  src: url('/04-WebApp-Prehistoria/fonts/MilfordBlack.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Milford';
  src: url('/04-WebApp-Prehistoria/fonts/MilfordCondensed.woff2') format('woff2');
  font-weight: 400;
  font-stretch: condensed;
}

@font-face {
  font-family: 'Milford';
  src: url('/04-WebApp-Prehistoria/fonts/MilfordCondensedBold.woff2') format('woff2');
  font-weight: 700;
  font-stretch: condensed;
}

@font-face {
  font-family: 'Milford';
  src: url('/04-WebApp-Prehistoria/fonts/MilfordCondensedItalic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-stretch: condensed;
}

@font-face {
  font-family: 'Milford';
  src: url('/04-WebApp-Prehistoria/fonts/MilfordCondensedBoldItalic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
  font-stretch: condensed;
}

@font-face {
  font-family: 'Milford';
  src: url('/04-WebApp-Prehistoria/fonts/MilfordHollow.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Milford';
  src: url('/04-WebApp-Prehistoria/fonts/MilfordLight.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Milford';
  src: url('/04-WebApp-Prehistoria/fonts/MilfordLightitalic.woff2') format('truwoff2etype');
  font-weight: 300;
  font-style: italic;
}

/*Estilos para elementos generales (App.jsx)*/
body {
  font-family: 'Milford', sans-serif;
  background-color: #eff7eb63;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
  
  .contenido-principal {
    display: flex;
    flex: 1;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0 20px 0 0;
  }
  
